# Miscellaneous
.DS_Store
__pycache__/
.idea/
todo.txt

# ENV variables
.env
gurobi.lic

# Virtual environment
env/

# Input and output directory
input/
!input/gis/
!input/countries.yaml
!input/technologies.yaml
output/
tuning/

# Compressed files
*.tar
*.tar.gz
*.zip
